.toggles {
  margin: 10px;

  button {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #1976d1;
    box-shadow: 0 0 4px 4px #00000017;
    margin: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &.active {
      background: #1976d1;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}
